body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  color: #333;
  background: #ededed; }

header.home {
  min-height: 70vh; }

.homewrap {
  display: grid;
  height: 30vh;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  width: 90%;
  margin: 0 auto; }
  .homewrap .welkom {
    grid-column: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; }
  .homewrap .vuurpijl {
    grid-column: 2 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; }
    .homewrap .vuurpijl img {
      margin: 0 auto;
      width: 50%;
      height: auto; }

header.hero {
  background: #b9bab9;
  height: 60vh; }

.topbar {
  display: flex;
  justify-content: space-between;
  background: gray;
  padding: 1em; }

nav ul li {
  display: inline;
  list-style: none;
  padding: 0; }

.wrapper {
  display: grid;
  min-height: 100vh;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  background: white;
  width: 90%;
  margin: 0 auto; }

.box {
  background: black;
  color: white; }

.intro {
  background: aqua;
  grid-column: 1 / 5;
  grid-row: 1; }
