$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$test-color: #b9bab9;
$box-color: black;

body {
	margin: 0;
	font-family: $font-stack;
	color: $primary-color;
	background: #ededed;
}
/*** CSS Grid layout ***/
.container {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto;
	grid-gap: 1.5vw;
}

.topbar {
	background: $test-color;
	grid-column: 1 / 9;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 3em;
}



/*** Flexbox layout ***/


/*** Topnav ***/
nav ul li {
	display: inline;
	list-style: none;
	
	a {
		color: black;
		text-decoration: none;
	}
}

/*** header ***/
header.home {
	background: purple;
	height: 70vh;
	display: flex;
}

.intro-tekst {
	grid-column: 2 / 5;
	justify-content: center;
	align-items: center;
}

.vuurpijl {
	grid-column: 5 / 8;
	justify-content: center;
	align-items: center;
}